<h2>{{selectedHero.name | uppercase}} Details</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" 
  [class.selected]="hero === selectedHero"  
  (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<div *ngIf="selectedHero">
 
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
 
</div>


